<launch>
	<arg name="useMors"                  default="0" />

	<include file="$(find head_controller)/launch/dependencies.launch">
    	<arg name="useMors" value="$(arg useMors)"/>
	</include>

	<node name="head_controller" pkg="head_controller" type="main.py" output="screen" >
		<param name="useMors" value="$(arg useMors)" />
	</node>


</launch>