[Unit]
Description=Robohead service.
After=multi-user.target alsa-restore.service avahi-daemon.service cloud-init.service cloud-init.target

[Service]
Type=simple
ExecStart=/bin/bash /home/pi/start.sh
Restart=always

[Install]
WantedBy=multi-user.target
